body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
    margin-top: 30px;
}

.mb-0 {
    margin-bottom: 0;
}

.menu-list {
    padding-left: 20px;

    list-style: none;
}
